<a href="https://colab.research.google.com/github/Chandrasekhar1919/chandra_hds5210/blob/main/final_project/final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Datasets:
texas alcohol consumption(Josn format) : https://data.texas.gov/dataset/Monthly-Per-Capita-Consumption/3j53-reqt/about_data

In this link i am using the api to get the json format access of the data.

Alcohol impaired driving deaths(csv format) : https://www.countyhealthrankings.org/health-data/texas?year=2024&measure=Alcohol-Impaired+Driving+Deaths&tab=1

I this link need to select the alcohol impaired deaths in the drop down bar.

In [2]:
import pandas as pd

LOADING DATA

In [6]:
data = pd.read_csv('/content/texas-2024-alcohol-impaired-driving-deaths-place-sort.csv')

df = pd.read_json('https://data.texas.gov/resource/3j53-reqt.json')

DISPLAYING THE DATA

In [7]:
data.head()

,County,# Alcohol-Impaired Driving Deaths,# Driving Deaths,County Value,Error Margin,National Z-Score
0,Texas,"4,874",25%,25-26%,NaN,"19,361"
1,Anderson,11,59,19%,12-26%,-0.58
2,Andrews,15,54,28%,21-35%,0.03
3,Angelina,20,78,26%,20-32%,-0.11
4,Aransas,2,25,8%,1-20%,-1.30

In [8]:
df.head()

,id,fiscalyear,year,distilledspiritstotaltax,month,population1,population2,distilledspiritstotalgallons,distilledspiritspercapit,distilledspiritstaxratep,...,highwinetaxratepergallon,sparklingwinetaxratepergallon,beertotaltax,beertotalgallons,beerpercapitaconsumption,beertaxratepergallon,aletotaltax,aletotalgallons,alepercapitaconsumption,aletaxratepergallon
0,200401,2004,2004,7588838.44,1,21120416,21372008,3162016,0.1497,2.4,...,0.408,0.516,9425512.50,48698579,2.3058,0.193548,440011.24,2222279,0.1052,0.198
1,200402,2004,2004,2858586.56,2,21120416,21372008,1191078,0.0564,2.4,...,0.408,0.516,7329422.21,37868757,1.7930,0.193548,370429.90,1870858,0.0886,0.198
2,200403,2004,2004,4035812.45,3,21120416,21372008,1681589,0.0796,2.4,...,0.408,0.516,6823183.80,35253187,1.6692,0.193548,359926.58,1817811,0.0861,0.198
3,200404,2004,2004,4623249.96,4,21120416,21372008,1926354,0.0912,2.4,...,0.408,0.516,8788742.30,45408593,2.1500,0.193548,430730.89,2175409,0.1030,0.198
4,200405,2004,2004,4357139.87,5,21120416,21372008,1815475,0.0860,2.4,...,0.408,0.516,9135415.74,47199742,2.2348,0.193548,433642.41,2190113,0.1037,0.198

CLEANING THE DATA

1.Clean # Driving Deaths:
Remove commas and percentages.
Convert to numeric values and replace NaN with 0.

2.Clean County Value:
For ranges (e.g., "25-26%"), calculate the average of the range.
Normalize the percentage to a decimal by dividing by 100.

3.Clean Error Margin:
Split ranges (e.g., "25-26%") into lower and upper bounds.
Convert to numeric and normalize by dividing by 100.

4.Clean National Z-Score:
Convert to numeric and replace any invalid values with 0.

5.Avoid inplace=True Warning:
Directly assign changes to columns rather than using inplace=True.

This ensures the dataset is clean, consistent, and ready for analysis.

In [11]:
# Clean # Driving Deaths: Remove commas and percentages, then convert to int
data['# Driving Deaths'] = data['# Driving Deaths'].replace({',': '', '%': ''}, regex=True)
data['# Driving Deaths'] = pd.to_numeric(data['# Driving Deaths'], errors='coerce')
data['# Driving Deaths'] = data['# Driving Deaths'].fillna(0)

# Clean County Value: Handle range values by converting them to the average percentage
def convert_range_to_mean(value):
    if '-' in value:  # Check if there's a range (e.g., '25-26')
        lower, upper = value.split('-')
        return (float(lower) + float(upper)) / 2
    else:
        return float(value)  # Handle cases like '25%'

data['County Value'] = data['County Value'].str.rstrip('%').apply(convert_range_to_mean) / 100

# Split Error Margin into lower and upper bounds
data[['Error Margin Lower', 'Error Margin Upper']] = data['Error Margin'].str.extract(r'(\d+)-(\d+)%')
data['Error Margin Lower'] = pd.to_numeric(data['Error Margin Lower'], errors='coerce') / 100
data['Error Margin Upper'] = pd.to_numeric(data['Error Margin Upper'], errors='coerce') / 100

# Fill NaN values in the National Z-Score column
data['National Z-Score'] = pd.to_numeric(data['National Z-Score'], errors='coerce').fillna(0)

# Print the cleaned data for inspection
print(data.head())

     County  # Alcohol-Impaired Driving Deaths  # Driving Deaths  \
0     Texas                               4874                25
1  Anderson                                 11                59
2   Andrews                                 15                54
3  Angelina                                 20                78
4   Aransas                                  2                25

   County Value Error Margin  National Z-Score  Error Margin Lower  \
0         0.255          NaN              0.00                 NaN
1         0.190       12-26%             -0.58                0.12
2         0.280       21-35%              0.03                0.21
3         0.260       20-32%             -0.11                0.20
4         0.080        1-20%             -1.30                0.01

   Error Margin Upper
0                 NaN
1                0.26
2                0.35
3                0.32
4                0.20

In [12]:
# Display basic information
print(df.info())

# Show summary statistics
print(df.describe())

# Check for missing values
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             245 non-null    int64
 1   fiscalyear                     245 non-null    int64
 2   year                           245 non-null    int64
 3   distilledspiritstotaltax       245 non-null    float64
 4   month                          245 non-null    int64
 5   population1                    245 non-null    int64
 6   population2                    245 non-null    int64
 7   distilledspiritstotalgallons   245 non-null    int64
 8   distilledspiritspercapit       245 non-null    float64
 9   distilledspiritstaxratep       245 non-null    float64
 10  winetotaltaxcollections        245 non-null    float64
 11  winetotalgallonsestimated      245 non-null    int64
 12  winepercapitaconsumption       245 non-null    float64
 13  avgwinerate                    245 non-null    float64
 14  lowwinetaxratepergallon        245 non-null    float64
 15  highwinetaxratepergallon       245 non-null    float64
 16  sparklingwinetaxratepergallon  245 non-null    float64
 17  beertotaltax                   245 non-null    float64
 18  beertotalgallons               245 non-null    int64
 19  beerpercapitaconsumption       245 non-null    float64
 20  beertaxratepergallon           245 non-null    float64
 21  aletotaltax                    245 non-null    float64
 22  aletotalgallons                245 non-null    int64
 23  alepercapitaconsumption        245 non-null    float64
 24  aletaxratepergallon            245 non-null    float64
dtypes: float64(15), int64(10)
memory usage: 48.0 KB
None
                  id   fiscalyear         year  distilledspiritstotaltax  \
count     245.000000   245.000000   245.000000              2.450000e+02
mean   201377.857143  2014.040816  2013.714286              7.068459e+06
std       590.800131     5.915938     5.909148              2.260793e+06
min    200401.000000  2004.000000  2004.000000              2.601703e+06
25%    200902.000000  2009.000000  2009.000000              5.305907e+06
50%    201403.000000  2014.000000  2014.000000              6.837338e+06
75%    201904.000000  2019.000000  2019.000000              8.733868e+06
max    202405.000000  2024.000000  2024.000000              1.287186e+07

            month   population1   population2  distilledspiritstotalgallons  \
count  245.000000  2.450000e+02  2.450000e+02                  2.450000e+02
mean     6.428571  2.670612e+07  2.566598e+07                  2.945191e+06
std      3.465285  2.889154e+06  5.777788e+06                  9.419970e+05
min      1.000000  2.112042e+07  0.000000e+00                  1.084043e+06
25%      3.000000  2.441728e+07  2.338628e+07                  2.210795e+06
50%      6.000000  2.747011e+07  2.693262e+07                  2.848891e+06
75%      9.000000  2.971984e+07  2.971984e+07                  3.639112e+06
max     12.000000  3.030160e+07  3.030160e+07                  5.363275e+06

       distilledspiritspercapit  distilledspiritstaxratep  ...  \
count                245.000000              2.450000e+02  ...
mean                   0.108583              2.400000e+00  ...
std                    0.027075              1.112496e-14  ...
min                    0.050700              2.400000e+00  ...
25%                    0.089600              2.400000e+00  ...
50%                    0.103600              2.400000e+00  ...
75%                    0.125700              2.400000e+00  ...
max                    0.180500              2.400000e+00  ...

       highwinetaxratepergallon  sparklingwinetaxratepergallon  beertotaltax  \
count              2.450000e+02                   2.450000e+02  2.450000e+02
mean               4.080000e-01                   5.160000e-01  9.075984e+06
std                1.056871e-15                   2.002492e-15  1.179158e+06
min                4.080000e-01                   5.160000e-01  6.202528e+06
25%                4.080000e-01                   5.160000e-01  8.439845e+06
50%                4.080000e-01                   5.160000e-01  9.109791e+06
75%                4.080000e-01                   5.160000e-01  9.890679e+06
max                4.080000e-01                   5.160000e-01  1.217971e+07

       beertotalgallons  beerpercapitaconsumption  beertaxratepergallon  \
count      2.450000e+02                245.000000          2.450000e+02
mean       4.689268e+07                  1.772928          1.935480e-01
std        6.092328e+06                  0.274989          1.390620e-16
min        3.204646e+07                  1.070100          1.935480e-01
25%        4.360595e+07                  1.589000          1.935480e-01
50%        4.706735e+07                  1.755100          1.935480e-01
75%        5.110194e+07                  1.957800          1.935480e-01
max        6.292864e+07                  2.409100          1.935480e-01

        aletotaltax  aletotalgallons  alepercapitaconsumption  \
count  2.450000e+02     2.450000e+02               245.000000
mean   8.194466e+05     4.138619e+06                 0.154052
std    4.398446e+05     2.221437e+06                 0.074590
min    0.000000e+00     0.000000e+00                 0.000000
25%    5.161235e+05     2.606684e+06                 0.116400
50%    8.531670e+05     4.308924e+06                 0.168300
75%    1.217319e+06     6.148076e+06                 0.213300
max    1.541041e+06     7.783035e+06                 0.275600

       aletaxratepergallon
count         2.450000e+02
mean          1.980000e-01
std           3.337487e-16
min           1.980000e-01
25%           1.980000e-01
50%           1.980000e-01
75%           1.980000e-01
max           1.980000e-01

[8 rows x 25 columns]
id                               0
fiscalyear                       0
year                             0
distilledspiritstotaltax         0
month                            0
population1                      0
population2                      0
distilledspiritstotalgallons     0
distilledspiritspercapit         0
distilledspiritstaxratep         0
winetotaltaxcollections          0
winetotalgallonsestimated        0
winepercapitaconsumption         0
avgwinerate                      0
lowwinetaxratepergallon          0
highwinetaxratepergallon         0
sparklingwinetaxratepergallon    0
beertotaltax                     0
beertotalgallons                 0
beerpercapitaconsumption         0
beertaxratepergallon             0
aletotaltax                      0
aletotalgallons                  0
alepercapitaconsumption          0
aletaxratepergallon              0
dtype: int64

In [13]:
df.drop(columns=['fiscalyear', 'distilledspiritstaxratep', 'beertaxratepergallon', 'aletaxratepergallon'], inplace=True)

In [16]:
import numpy as np

df['population2'] = np.where(df['population2'] == 0, df['population1'], df['population2'])

In [17]:
from scipy.stats import zscore

df = df[(zscore(df['population2']) > -3) & (zscore(df['population2']) < 3)]

In [18]:
df['tax_per_gallon_spirits'] = df['distilledspiritstotaltax'] / df['distilledspiritstotalgallons']
df['tax_per_gallon_wine'] = df['winetotaltaxcollections'] / df['winetotalgallonsestimated']
df['tax_per_gallon_beer'] = df['beertotaltax'] / df['beertotalgallons']

In [19]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             245 non-null    int64
 1   year                           245 non-null    int64
 2   distilledspiritstotaltax       245 non-null    float64
 3   month                          245 non-null    int64
 4   population1                    245 non-null    int64
 5   population2                    245 non-null    int64
 6   distilledspiritstotalgallons   245 non-null    int64
 7   distilledspiritspercapit       245 non-null    float64
 8   winetotaltaxcollections        245 non-null    float64
 9   winetotalgallonsestimated      245 non-null    int64
 10  winepercapitaconsumption       245 non-null    float64
 11  avgwinerate                    245 non-null    float64
 12  lowwinetaxratepergallon        245 non-null    float64
 13  highwinetaxratepergallon       245 non-null    float64
 14  sparklingwinetaxratepergallon  245 non-null    float64
 15  beertotaltax                   245 non-null    float64
 16  beertotalgallons               245 non-null    int64
 17  beerpercapitaconsumption       245 non-null    float64
 18  aletotaltax                    245 non-null    float64
 19  aletotalgallons                245 non-null    int64
 20  alepercapitaconsumption        245 non-null    float64
 21  tax_per_gallon_spirits         245 non-null    float64
 22  tax_per_gallon_wine            245 non-null    float64
 23  tax_per_gallon_beer            245 non-null    float64
dtypes: float64(15), int64(9)
memory usage: 46.1 KB
None
                  id         year  distilledspiritstotaltax       month  \
count     245.000000   245.000000              2.450000e+02  245.000000
mean   201377.857143  2013.714286              7.068459e+06    6.428571
std       590.800131     5.909148              2.260793e+06    3.465285
min    200401.000000  2004.000000              2.601703e+06    1.000000
25%    200902.000000  2009.000000              5.305907e+06    3.000000
50%    201403.000000  2014.000000              6.837338e+06    6.000000
75%    201904.000000  2019.000000              8.733868e+06    9.000000
max    202405.000000  2024.000000              1.287186e+07   12.000000

        population1   population2  distilledspiritstotalgallons  \
count  2.450000e+02  2.450000e+02                  2.450000e+02
mean   2.670612e+07  2.677910e+07                  2.945191e+06
std    2.889154e+06  2.938274e+06                  9.419970e+05
min    2.112042e+07  2.137201e+07                  1.084043e+06
25%    2.441728e+07  2.441728e+07                  2.210795e+06
50%    2.747011e+07  2.747011e+07                  2.848891e+06
75%    2.971984e+07  2.971984e+07                  3.639112e+06
max    3.030160e+07  3.030160e+07                  5.363275e+06

       distilledspiritspercapit  winetotaltaxcollections  \
count                245.000000             2.450000e+02
mean                   0.108583             1.169340e+06
std                    0.027075             3.453779e+05
min                    0.050700             4.748443e+05
25%                    0.089600             8.733860e+05
50%                    0.103600             1.192320e+06
75%                    0.125700             1.407518e+06
max                    0.180500             2.147663e+06

       winetotalgallonsestimated  ...  sparklingwinetaxratepergallon  \
count               2.450000e+02  ...                   2.450000e+02
mean                4.268697e+06  ...                   5.160000e-01
std                 9.822855e+05  ...                   2.002492e-15
min                 1.959761e+06  ...                   5.160000e-01
25%                 3.467387e+06  ...                   5.160000e-01
50%                 4.398415e+06  ...                   5.160000e-01
75%                 4.983229e+06  ...                   5.160000e-01
max                 6.669326e+06  ...                   5.160000e-01

       beertotaltax  beertotalgallons  beerpercapitaconsumption   aletotaltax  \
count  2.450000e+02      2.450000e+02                245.000000  2.450000e+02
mean   9.075984e+06      4.689268e+07                  1.772928  8.194466e+05
std    1.179158e+06      6.092328e+06                  0.274989  4.398446e+05
min    6.202528e+06      3.204646e+07                  1.070100  0.000000e+00
25%    8.439845e+06      4.360595e+07                  1.589000  5.161235e+05
50%    9.109791e+06      4.706735e+07                  1.755100  8.531670e+05
75%    9.890679e+06      5.110194e+07                  1.957800  1.217319e+06
max    1.217971e+07      6.292864e+07                  2.409100  1.541041e+06

       aletotalgallons  alepercapitaconsumption  tax_per_gallon_spirits  \
count     2.450000e+02               245.000000            2.450000e+02
mean      4.138619e+06                 0.154052            2.400000e+00
std       2.221437e+06                 0.074590            2.682675e-07
min       0.000000e+00                 0.000000            2.399999e+00
25%       2.606684e+06                 0.116400            2.400000e+00
50%       4.308924e+06                 0.168300            2.400000e+00
75%       6.148076e+06                 0.213300            2.400000e+00
max       7.783035e+06                 0.275600            2.400001e+00

       tax_per_gallon_wine  tax_per_gallon_beer
count           245.000000         2.450000e+02
mean              0.269963         1.935480e-01
std               0.021015         1.214380e-09
min               0.240906         1.935480e-01
25%               0.251998         1.935480e-01
50%               0.265446         1.935480e-01
75%               0.287794         1.935480e-01
max               0.324542         1.935480e-01

[8 rows x 24 columns]

In [20]:
# Example if `state` exists in `df` and `data`:
merged = df.merge(data, left_on='state_column', right_on='County', how='left')

KeyError: 'state_column'